body{
    background-color: #191970;
    color: white;
}

/*Exemplo de Order*/
.ex1{
    display: flex;
    gap: 30px;
    background-color: lightslategray;
}

.ex1 div {
    width: 100px;
    height: 100px;
    background-color: rgb(3, 61, 80);
}

/*Exemplo de Flex-grow*/
.ex2{
    display: flex;
    gap: 30px;
    background-color: lightslategray;
}

.ex2 div {
    width: 100px;
    height: 100px;
    background-color: rgb(3, 61, 80);
}

/*Exemplo de flex-shrink */
.ex3{
    display: flex;
    gap: 30px;
    background-color: lightslategray;
}

.ex3 div {
    width: 100px;
    height: 100px;
    background-color: rgb(3, 61, 80);
}

/*Exemplo de flex-basis */
.ex4{
    display: flex;
    gap: 30px;
    background-color: lightslategray;
}

.ex4 div {
    width: 100px;
    height: 100px;
    background-color: rgb(3, 61, 80);
}

/*Exemplo de Align-self: center  */
.ex5{
    display: flex;
    height: 200px;
    gap: 30px;
    background-color: lightslategray;
}

.ex5 div {
    width: 100px;
    background-color: rgb(3, 61, 80);
}

.ex5 #it3 {
    align-self: center;
    background-color: rgb(5, 2, 31);
    height: 100px;
}

/*Exemplo de Align-self: flex-start, flex-end e Center */
.ex6{
    display: flex;
    height: 200px;
    gap: 30px;
    background-color: lightslategray;
}

.ex6 div {
    width: 100px;
    background-color: rgb(3, 61, 80);
}

.ex6 #item2 {
    align-self: flex-start;
    background-color: rgb(5, 2, 31);
    height: 100px;
}

.ex6 #item3 {
    align-self: center;
    background-color: rgb(5, 2, 31);
    height: 100px;
}

.ex6 #item4 {
    align-self: flex-end;
    background-color: rgb(5, 2, 31);
    height: 100px;
}