body {
    background-color: #0c59a1;
}

.bx-spotify {
    color: rgb(7, 194, 7);
    font-size: 150px;
}

.bx-crunchyroll {
    color: chocolate;
    font-size: 150px;
}

.bx-instagram {
    color: rgb(189, 15, 122);
    font-size: 150px;
}